$container-large-desktop: 700px;
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

$action-text-color: #bbb;
$action-bg-color: #fff;

body {
  background-color: #e5e5e5;
  font-size: 20px;
}

.container {
  margin-top: 40px;
}

.goal-content-container {
  padding: 0px;
  position: relative;
}

.goal {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  margin-right: 9px;
  border-bottom: 4px solid;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  position: relative;
}

.col-xs-4:last-child .goal, .col-xs-12:last-child .goal {
  margin-right: 0px;
}

.primary {
  border-color: rgb(185, 246, 202);
}

.secondary {
  border-color: rgb(0, 186, 210);
}

.goal-row {
  margin-bottom: 9px;
  position: relative;
}

.empty-goal {
  margin-top: .1em;
  font-size: .8em;
  color: #ddd;
}

.completed {
  opacity: .6;
}

.actions {
  position: absolute;
  font-size: .6em;
  color: $action-text-color;
  bottom: 0px;
  right: 10px;
  padding-left: 0px;
}

.actions li, .row-edit-overlay li {
  list-style-type: none;
  display: inline;
  font-size: .9em;
  margin-right: 2px;
  padding: 4px 8px;
}

.action {
  color: $action-text-color;
  background-color: $action-bg-color;
  &:hover {
    background-color: $action-bg-color;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  .goal {
    padding: 20px 20px 40px 20px;
  }
}

.container-tools {
  bottom: -30px;
  right: -5px;
  margin-bottom: 0px;
}

.goal-container {
  position: relative;
}

.row-editing .goal-content-container {
  opacity: .6;
}

.row-edit-overlay {
  z-index: 9;
  padding-left: 0px;
  margin: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  width: 184px;
}
