extends layout

block content
  .container
    #content
  script(src="underscore/underscore-min.js")
  script(src="react/react.js")
  script(src="jquery/dist/jquery.min.js")
  script(src="javascripts/index.js")
