doctype html
html
  head
    title day priori

    // build:css(.tmp) styles/main.css
    link(href="styles/index.css" rel="stylesheet")
    // endbuild
    meta(content="width=device-width" name="viewport")
  body
    .container
      #content
    // build:js(.tmp) js/main.js
    script(src="js/bundle.js")
    // endbuild
